.divClass {
    position: relative;
    margin: 0 auto;
    width: 500px;
    background-color: aliceblue;
    opacity: 0.95;
    margin-top: 5%;
    margin-bottom: 5%;
}
body{
    background-image: url(fondo-comida.png);
}
h1 {
    color: blue;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
h3 {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
h4 {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
#thirdDiv {
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 500px; 
    background-color:white;
    padding: 50px;
    border: dashed black;
    margin-top: 15;
}
#spanId {
    font-size: 18px;
    margin: 50px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
img {
    width: 400px;
}
a{
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}